<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.firmanjabar.submission4">

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />

	<permission android:name="com.firmanjabar.submission4.READ_DATABASE" />
	<permission android:name="com.firmanjabar.submission4.WRITE_DATABASE" />

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<receiver android:name=".widget.ImageBannerWidget">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/image_banner_widget_info" />
		</receiver>

		<activity
			android:name=".feature.tv_detail.TvDetailActivity"
			android:label="@string/title_activity_detail_tv"
			android:theme="@style/AppTheme.NoActionBar" />
		<activity
			android:name=".feature.movie_detail.MovieDetailActivity"
			android:label="@string/title_activity_detail"
			android:theme="@style/AppTheme.NoActionBar" />
		<activity
			android:name=".feature.main.MainActivity"
			android:label="@string/app_name"
			android:theme="@style/AppTheme.NoActionBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<provider
			android:name=".provider.FavoriteProvider"
			android:authorities="com.firmanjabar.submission4"
			android:exported="true"
			android:readPermission="com.firmanjabar.submission4.READ_DATABASE"
			android:writePermission="com.firmanjabar.submission4.WRITE_DATABASE" />

		<service
			android:name=".widget.StackWidgetServices"
			android:permission="android.permission.BIND_REMOTEVIEWS" />
	</application>

</manifest>